.c-hamburger__label {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0 10px;
}

.c-hamburger__label--close {
  display: none;
}

body.menu-open {
  .c-hamburger__label--menu {
    display: none;
  }
  .c-hamburger__label--close {
    display: block;
  }
}


// Hamburger

button.c-hamburger {
  margin: 0;
  height: 30px;
  position: absolute;
  right: 0;
}

.c-hamburger {
  padding: 5px 15px 5px 15px;
  display: flex;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 350ms;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background: transparent !important;
  border: 0;
  margin: 0;
  overflow: visible;
  position: absolute;
  right: 0;
  @include mq($from: tablet) {
    display: none;
  }
}

.c-hamburger:hover {
  opacity: 0.7; }
.c-hamburger.is-active:hover {
  opacity: 0.7; }
.c-hamburger.is-active .c-hamburger-inner,
.c-hamburger.is-active .c-hamburger-inner::before,
.c-hamburger.is-active .c-hamburger-inner::after {
  background-color: $teal; }

.c-hamburger-box {
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative; 
  }

.c-hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .c-hamburger-inner, .c-hamburger-inner::before, .c-hamburger-inner::after {
    width: 30px;
    height: 2px;
    background-color: $teal;
    position: absolute;
    transition-property: transform;
    transition-duration: 350ms;
    transition-timing-function: ease; }
  .c-hamburger-inner::before, .c-hamburger-inner::after {
    content: "";
    display: block; }
  .c-hamburger-inner::before {
    top: -8px; }
  .c-hamburger-inner::after {
bottom: -8px; }

  /*
   * Squeeze
   */
  .c-hamburger--squeeze {
    .c-hamburger-inner {
      transition-duration: 0.075s;
      transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

      &::before {
        transition: top 0.075s 0.12s ease,
                    opacity 0.075s ease;
      }

      &::after {
        transition: bottom 0.075s 0.12s ease,
                    transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      }
    }

    &.is-active {
      .c-hamburger-inner {
        transform: rotate(45deg);
        transition-delay: 0.12s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

        &::before {
          top: 0;
          opacity: 0;
          transition: top 0.075s ease,
                      opacity 0.075s 0.12s ease;
        }

        &::after {
          bottom: 0;
          transform: rotate(-90deg);
          transition: bottom 0.075s ease,
                      transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
        }
      }
    }
  }