/* ==========================================================================
   #TEXT AREA
   ========================================================================== */


   /**
    * Base styles for text areas
    */

    .c-text-area {
    	&--has-bg {
    		padding: 24px 16px;
    	}
		p {
			font-size: 16px;
			@include mq($from: tablet) {
				font-size: 110%;
			}
			@include mq($from: desktop) {
				font-size: 125%;
			}
		}
    }

    .c-information {
      h5 {
        color: $teal;
      }
      span {
        display: block;
        text-transform: uppercase;
        opacity: 0.4;
        font-size: 90%;
      }
    }


