.c-jumpnav {
	background-color: $black;
	border-top: 1px solid $gold;
}

.c-jumpnav__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	padding: 0.5em 5%;
}

.c-jumpnav__links {
	color: $white;
	a {
		text-decoration: none;
		font-weight: bold;
		&:hover {
			text-decoration: underline;
		}
	}
	a:not(:first-of-type) {
		margin-left: 12px;
	}
	i {
		margin-right: 5px;
	}
}

.c-jumpnav__button {
	font-size: 90%;
	button {
		font-size: 90%;
	}
}