{%- block cardcontainer -%}

  <section class="c-container u-bg--white">
    <div class="c-content-wrap">
      <div class="c-container-content">
        <div class="o-layout">
          <div class="o-layout__item  u-1/3@tablet">
            <div class="c-text-area c-information c-text-area--has-bg u-bg--light-grey">
              <span>Venue</span>
              <h5>Theatre Royal</h5>
              <span>Duration</span>
              <h5>1 hour 40 mins</h5>
              <span>Important Information</span>
              <h5>Lorem ipsum dolor sit amet</h5>
              <span>Accessibility Information</span>
              <h5>Lorem ipsum dolor sit amet</h5>
            </div>
          </div>
          <div class="o-layout__item  u-2/3@tablet">
            <div class="c-text-area">
              <p><b>What if your first true love was someone you’d been told to hate?</b></p>

                <p><b>Ripped apart by the bitter divisions of their parents, two young people will risk everything to be together.</b></p>

                <p>The most famous story of love at first sight explodes with intense passion and an irresistible desire for change. Will this spark a revolution, or will division continue to tear through generations?</p>

                <p><b>Sign Language Interpreted (Integrated) Performance:</b></p>

                <p>British Sign Language (BSL) interpreted performances are designed to provide access to theatre for people who use BSL. On Friday 22 February, there will be a ‘semi-integrated’ interpretation, where the interpreter is in costume and up close with the actors, allowing for a more immersive experience.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="c-container u-bg--light-teal">
    <div class="c-content-wrap">
      <h2 class="c-container-title font-heading">Your Visit</h2>
      <div class="c-container-content">
        <div class="o-layout">
          <div class="o-layout__item  u-1/3@tablet">
            {% include 'partials/card.html' %}
          </div>
          <div class="o-layout__item  u-1/3@tablet">
            {% include 'partials/card.html' %}
          </div>
          <div class="o-layout__item  u-1/3@tablet">
            {% include 'partials/card.html' %}
          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="c-container">
    <div class="c-content-wrap">
    <h2 class="c-container-title font-heading">Nottingham Classics</h2>
      <div class="c-container-content">
        <div class="o-layout">
          <div class="o-layout__item  u-1/2@tablet">
            <div class="c-text-area">
              <p  style=" text-indent: 2em; ">Each year we bring the world's greatest orchestras, conductors and soloists to the city to perform a rich programme of classics, concertos and orchestral showpieces. The Royal Concert Hall has an incredible acoustic quality, so if you've never heard a live orchestra before then the Royal Concert Hall is a great place to start.</p>
              <button class="c-btn c-btn--teal">Find Out More</button>
            </div>
          </div>
          <div class="o-layout__item  u-1/2@tablet">
            <img src="https://source.unsplash.com/random/800x600">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="c-container ">
  	<div class="c-content-wrap">
  		<h2 class="c-container-title font-heading">You Might Also Like</h2>
  		<div class="c-container-content">
  			<div class="o-layout">
  				<div class="o-layout__item  u-1/3@tablet">
  					{% include 'partials/event-card.html' %}
  				</div>
  				<div class="o-layout__item  u-1/3@tablet">
  					{% include 'partials/event-card.html' %}
  				</div>
  				<div class="o-layout__item  u-1/3@tablet">
  					{% include 'partials/event-card.html' %}
  				</div>
	  		</div>
  		</div>

  	</div>
  </section>

{%- endblock -%}