<div class="c-event-card">
	<div class="c-event-card__image-container">
		<figure class="c-event-card__image">
			<img src="https://source.unsplash.com/random/400x300">
		</figure>
	</div>
	<div class="c-card__content">
		<h5 class="c-event-card__genre">Genre</h5>
		<h4 class="c-event-card__title font-heading js__title"><a class="font-heading">Test Card</a></h4>
		<div class="c-event-card__details-container">
			<time class="c-event-card__date"><i class="fas fa-calendar"></i><span class="js__date">Date</span></time>
			<span class="c-event-card__time"><i class="fas fa-clock"></i><span class="js__time">Time</span></span>
		</div>
		<div class="c-event-card__btn-container">
			<button class="c-btn c-btn--ghost">More Info</button>
			<button class="c-btn c-btn--teal">Tickets</button>
		</div>
	</div>
</div>