{%- block footer -%}

  <footer class="footer  u-bg--light-grey" role="contentinfo">
    (footer)
      <div class="option">
	    <label>Body copy</label>
	    <select name="typeface">
			<option value="-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif">Default</option>
	      <option value="nimbus-sans">Nimbus Sans</option>
	      <option value="open-sans">Open Sans</option>
  	      <option value="source-sans-pro">Source Sans</option>
	      <option value="haboro">Haboro</option>
	      <option value="quattrocento">Quattrocento</option>
	      <option value="sofia-pro">Sofia</option>
	    </select>
	  </div>
<!-- 	    <div class="option">
	    <label>Headings</label>
	    <select name="headings">
	      <option value="sofia-pro">Sofia</option>
	      <option value="nimbus-sans">Nimbus Sans</option>
	      <option value="open-sans">Open Sans</option>
  	      <option value="source-sans-pro">Source Sans</option>
	      <option value="haboro">Haboro</option>
	      <option value="quattrocento">Quattrocento</option>
	    </select>
	  </div> -->
  </footer><!-- /footer -->

{%- endblock -%}
