{%- block footer -%}

  <footer class="footer  u-bg--light-grey" role="contentinfo">
    (footer)
      <div class="option">
	    <label>Body copy</label>
	    <select name="typeface">
		<option selected="selected" value="sofia-pro">Default (Sofia)</option>
	      <option value="nimbus-sans">Nimbus Sans</option>
	      <option value="open-sans">Open Sans</option>
  	      <option value="source-sans-pro">Source Sans</option>
	      <option value="haboro">Haboro</option>
	      <option value="quattrocento">Quattrocento</option>
	      <option value="sofia-pro">Sofia</option>
	      <option value="Domine">Domine</option>
	      <option value="ff-more-web-pro">FF More</option>
	      <option value="ff-tisa-sans-web-pro">FF Tisa Sans</option>
	    </select>
	  </div>
    <div class="option">
	    <label>Headings</label>
	    <select name="headings">
	      <option value="sofia-pro">Sofia</option>
	      <option value="nimbus-sans">Nimbus Sans</option>
	      <option value="open-sans">Open Sans</option>
  	      <option value="source-sans-pro">Source Sans</option>
	      <option value="haboro">Haboro</option>
	      <option value="quattrocento">Quattrocento</option>
	      <option value="sofia-pro">Sofia</option>
	      <option value="Domine">Domine</option>
	      <option value="ff-more-web-pro">FF More</option>
	      <option value="ff-tisa-sans-web-pro">FF Tisa Sans</option>
	    </select>
	  </div>
  </footer><!-- /footer -->

{%- endblock -%}
