<div class="c-masthead">
	<img src="https://source.unsplash.com/1600x900/?nature,water">
	<div class="c-masthead__details">
		<h1 class="c-masthead__title font-heading js__title">
			James: Living in Extraordinary Times
		</h1>
		<h3 class="c-masthead__date font-heading">
			<span class="js__date">Tuesday 12 March</span> <span class="js__time"> 8:15pm</span>
		</h3>
		<h6 class="c-masthead__genre">
			Music
		</h6>
	</div>
</div>
<div class="c-masthead__bar">
	<div class="c-subnav">
		<ul>
			<li><i class="fas fa-caret-up"></i>Top</li>
			<li>Gallery</li>
			<li>Your Visit</li>
			<li>Related Events</li>
		</ul>
	</div>
	<button class="c-btn c-btn--teal c-btn--tiny"><i class="far fa-ticket-alt"></i>Buy Tickets</button>
</div>